{% extends "base.html" %}
{% load static %}

{% block title %}{{ site_settings.site_name }} - Home{% endblock %}

{% block content %}
{% include "partials/banner.html" %}

{% include "partials/about_section.html" %}


<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
            <h1 class="display-4">Excellent Medical Services</h1>
        </div>
        <div class="row g-5">
            {% for service in services %}
            {% include "partials/service_card.html" %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services End -->


{% include "partials/appointment_form.html" with variant="embed" %}


{% include "partials/doctors_carousel.html" %}


{% include "partials/doctor_search_box.html" with variant="embed" %}


{% include "partials/testimonial_carousel.html" %}


<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
            <h1 class="display-4">Our Latest Medical Blog Posts</h1>
        </div>
        <div class="row g-5">
            {% for post in blog_posts %}
            <div class="col-xl-4 col-lg-6">
                {% include "partials/blog_card.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}
