{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:"IHeartCare Admin" }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/admin-custom.css' %}">
<link rel="icon" href="{% static 'core/img/logo.png' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'core/img/logo.png' %}" alt="{{ site_header|default:'IHeartCare' }}" class="admin-logo">
        {{ site_header|default:"IHeartCare Administration" }}
    </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
