{% extends "base.html" %}
{% load static %}

{% block title %}Blog - {{ site_settings.site_name }}{% endblock %}

{% block content %}
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Post</h5>
            <h1 class="display-4">Our Latest Medical Blog Posts</h1>
        </div>
        <div class="row g-5">
            {% for post in posts %}
            <div class="col-xl-4 col-lg-6">
                {% include "partials/blog_card.html" %}
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No blog posts yet. Check back soon.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}
