{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us - {{ site_settings.site_name }}{% endblock %}

{% block content %}
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Any Questions?</h5>
            <h1 class="display-4">Please Feel Free To Contact Us</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
                    style="height: 200px;">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
                        style="width: 100px; height: 70px; transform: rotate(-15deg);">
                        <i class="fa fa-2x fa-location-arrow text-white" style="transform: rotate(15deg);"></i>
                    </div>
                    <h6 class="mb-0">{{ site_settings.address }}</h6>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
                    style="height: 200px;">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
                        style="width: 100px; height: 70px; transform: rotate(-15deg);">
                        <i class="fa fa-2x fa-phone text-white" style="transform: rotate(15deg);"></i>
                    </div>
                    <h6 class="mb-0">{{ site_settings.phone }}</h6>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
                    style="height: 200px;">
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
                        style="width: 100px; height: 70px; transform: rotate(-15deg);">
                        <i class="fa fa-2x fa-envelope-open text-white" style="transform: rotate(15deg);"></i>
                    </div>
                    <h6 class="mb-0">{{ site_settings.email }}</h6>
                </div>
            </div>
        </div>
        {% if site_settings.map_embed_url %}
        <div class="row">
            <div class="col-12" style="height: 500px;">
                <div class="position-relative h-100">
                    <iframe class="position-relative w-100 h-100"
                        src="{{ site_settings.map_embed_url }}"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center position-relative{% if site_settings.map_embed_url %}{% endif %}" style="{% if site_settings.map_embed_url %}margin-top: -200px; z-index: 1;{% endif %}">
            <div class="col-lg-8">
                <div class="bg-white rounded p-5 m-5 mb-0">
                    {% if form.errors %}
                    <div class="alert alert-danger text-start">
                        Please correct the errors below and try again.
                    </div>
                    {% endif %}
                    <form method="post" action="{% url 'core:contact' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                {{ form.name }}
                            </div>
                            <div class="col-12 col-sm-6">
                                {{ form.email }}
                            </div>
                            <div class="col-12">
                                {{ form.subject }}
                            </div>
                            <div class="col-12">
                                {{ form.message }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}
